nav .navbar-brand {
    font-size: xx-large;
}

nav .navbar-brand .white {
    color: #ffffff;
}

body {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
}


.dark-mode {
    background-color: #1F1F1F;
    color: #fff;
}

.white {
    color: #fff;
}



button {
    border: none !important;
    border-radius: 0 !important;
    background-color: #2a2a2a !important;
    color: #999999 !important;
    outline: none !important;
    transition: background-color 0.15s ease-in-out !important;
}

input {
    border: none !important;
    border-radius: 0 !important;
    background-color: #2a2a2a !important;
    color: #fff !important;
    outline: none !important;
    transition: background-color 0.15s ease-in-out !important;
}

button:hover {
    border-color: #fff !important;
    background-color: #363636 !important;
}

input:focus {
    border-color: #fff !important;
    background-color: #363636 !important;

}

.custom-select {
    border: none !important;
    border-radius: 0 !important;
    background-color: #2a2a2a !important;
    color: #999999 !important;
    outline: none !important;
}

*:focus {
    outline: none !important;
    box-shadow: 0 0 0px 0px rgba(100, 100, 100, 0.5) !important;
}




body.dark-mode {
    background-color: #1a1a1a;
    color: #fff;
}

table {
    color: #fff !important;
}

th,
td {
    border-color: #555 !important;
}

.table-striped>tbody>tr>* {
    color: #fff !important;
}

.hr-container {
    display: flex;
    justify-content: center;
}

.hr-container hr {
    width: 40%;
}

ul {
    list-style-type: none;
}

#particles-js {
    height: 100%;
    position: absolute;
    width: 100%;
}
