{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <div class="container py-5 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-start">Item</th>
                    <th class="text-end">Quantity</th>
                    <th class="text-end">Size</th>
                    <th class="text-end">Roommate</th>
                    <th class="text-end">Expiration Date</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in history %}
                    <tr>
                        <td class="text-start">{{ entry.name }}</td>
                        <td class="text-end">{{ entry.quantity }}</td>
                        <td class="text-end">{{ entry.size }}</td>
                        <td class="text-end">{{ entry.roommate }}</td>
                        <td class="text-end">{{ entry.timestamp }}</td>
                    </tr>
                {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
