{% extends "layout.html" %}

{% block title %}
    Info
{% endblock %}

{% block main %}


    <div class="mb-3">
        <div>
            <h4>Information about Fridgemates</h4>
        </div>


        <div class="hr-container">
            <hr>
        </div>

        <div>
            <h5>About</h5>
            <p>Welcome to Fridgemates, an app to help you and your roommates to keep track of what's
                <br>in your fridge. Add items in the "INSERT" tab, and remove them on the homepage which
                <br>can be found by clicking on "FRIDGEMATES" in the top left. When editing, be sure to
                <br>select which roommate is editing, after adding the roommates of course.
            </p>

        </div>

        <div class="hr-container">
            <hr>
        </div>

        <div>
            <h5>Sizing System</h5>
            <p>The sizing system works on a unitary system of 1 unit being equal to a small can.</p>
            <ul>
                <li>Extra Small = 1 Unit</li>
                <li>Small = 2 Units</li>
                <li>Medium = 4 Units</li>
                <li>Large = 8 Units</li>
                <li>Extra Large = 16 Units</li>
            </ul>

        </div>
    </div>


{% endblock %}
