{% extends "layout.html" %}

{% block title %}
    Roommate
{% endblock %}

{% block main %}
    <div class="hr-container">
        <hr>
    </div>

    <div class="mb-3">
        <h5>Current Roommates</h5>

        {% for person in names %}

            <div>{{ person.name }}</div>

        {% endfor %}

    </div>

    <div class="hr-container">
        <hr>
    </div>

    <form action="/roommate" method="post">
        <h5>Edit Roommates</h5>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="roommate" name="roommate" placeholder="Roommate Name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Add / Remove</button>
    </form>
{% endblock %}
